# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# MLflow
mlruns/
mlflow.db

# OS
.DS_Store

# Data (optional – uncomment if large/private)
# data/

# Models (optional – uncomment if regenerated)
# models/
